/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background: #0a0a0a;
  color: white;
}

/* NAVIGATION */
header {
  position: fixed;
  width: 100%;
  padding: 15px 8%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1000;
  background: rgba(0, 0, 0, 0.55);
  backdrop-filter: blur(6px);
}

.logo {
  font-size: 28px;
  color: cyan;
  font-weight: 700;
  text-shadow: 0 0 10px cyan;
}

nav a {
  margin-left: 25px;
  text-decoration: none;
  color: white;
  font-weight: 500;
}

nav a:hover {
  color: cyan;
}

/* HERO SECTION */
.hero {
  height: 100vh;
  background: url("https://images.unsplash.com/photo-1522199710521-72d69614c702") center/cover no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.60);
}

.hero-content {
  position: relative;
  text-align: center;
  max-width: 700px;
}

.hero h1 {
  font-size: 55px;
  text-shadow: 0 0 20px cyan;
}

.hero p {
  font-size: 18px;
  margin: 15px 0;
  opacity: 0.85;
}

.hero button {
  padding: 12px 35px;
  background: cyan;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  color: #000;
  font-size: 18px;
  font-weight: 600;
  transition: 0.3s;
}

.hero button:hover {
  box-shadow: 0 0 20px cyan;
}

/* SECTIONS */
section {
  padding: 90px 10%;
}

/* TITLE */
.section-title {
  font-size: 40px;
  margin-bottom: 40px;
  text-align: center;
  text-shadow: 0 0 15px cyan;
}

/* SERVICES */
.service-container {
  display: flex;
  justify-content: space-around;
  gap: 25px;
  flex-wrap: wrap;
}

.service-card {
  background: rgba(255, 255, 255, 0.05);
  padding: 35px;
  border-radius: 15px;
  text-align: center;
  width: 300px;
  transition: 0.3s;
  border: 1px solid cyan;
}

.service-card:hover {
  transform: scale(1.05);
  box-shadow: 0 0 20px cyan;
}

.service-card img {
  width: 75px;
  margin-bottom: 15px;
}

/* CONTACT FORM */
form input, form textarea {
  width: 100%;
  padding: 15px;
  margin-top: 12px;
  background: rgba(255,255,255,0.1);
  border: 1px solid cyan;
  color: white;
  border-radius: 5px;
}

form button {
  width: 100%;
  padding: 15px;
  margin-top: 15px;
  background: cyan;
  border: none;
  color: #000;
  cursor: pointer;
  border-radius: 5px;
  font-size: 18px;
}

/* FOOTER */
footer {
  width: 100%;
  text-align: center;
  padding: 25px;
  background: #000;
  margin-top: 40px;
}

/* ANIMATION */
.fade-in {
  animation: fade 2s ease-in-out;
}

@keyframes fade {
  from { opacity: 0; transform: translateY(30px); }
  to { opacity: 1; transform: translateY(0); }
}
